
<div id="fancy-quote">
  <blockquote><%= @quote.content %></blockquote>
  <cite>Anonymous</cite>
</div>


<%= link_to "Return", quotes_path, class: 'btn btn-outline-secondary' %>
<%= link_to "Edit", edit_quote_path(@quote), class: 'btn btn-outline-primary' %>
<%= link_to "Delete", quote_path(@quote), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?'} %>


<i>Last updated: <%= @quote.updated_at %></i>


<h5>Add comment</h5>
<%= bootstrap_form_with(model: [@quote, @quote.comments.build ], local: true) do |f| %>

  <%= f.text_field :nick %>
  <%= f.text_area :body %>

  <%= f.primary "Save" %>

<% end %>


<h5>Comments</h5>
<% @quote.comments.each do |comment| %>
  <i> <strong><%= comment.nick %> </strong> <%= comment.body %> </i></br>
<% end %>