
<h3><%= @quote.content %></h3>

<i>Last updated: <%= @quote.updated_at %></i>

<%= button_to "Return", quotes_path, class: "btn btn-secondary", method: :get %>
<%= button_to "Edit", edit_quote_path(@quote), class: "btn btn-primary", method: :get %>
<%= button_to "Delete", quote_path(@quote), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'} %>




<h5>Add comment</h5>
<%= bootstrap_form_with(model: [@quote, @quote.comments.build ], local: true) do |f| %>

  <%= f.text_field :nick %>
  <%= f.text_area :body %>

  <%= f.primary "Save" %>

<% end %>


<h5>Comments</h5>
<% @quote.comments.each do |comment| %>
  <i> <strong><%= comment.nick %> </strong> <%= comment.body %> </i></br>
<% end %>