
<div id="fancy-quote">
  <blockquote><%= @quote.content %></blockquote>
  <cite>Anonymous</cite>
</div>


<div class="row">
  <div class="col-sm">
    <%= link_to "Return", quotes_path, class: 'btn btn-outline-secondary' %>
    <%= link_to "Edit", edit_quote_path(@quote), class: 'btn btn-outline-primary' %>
    <%= link_to "Delete", quote_path(@quote), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?'} %>
  </div>
  <div class="col-sm">
    <i>Last updated: <%= @quote.updated_at %></i>
  </div>
</div>

</br></br>

<h4>Add comment</h4>
<i><%= render 'comments/form' %></i>

</br></br>

<h4>Comments</h4>
<%= render @quote.comments.select(&:persisted?) %>

