<!DOCTYPE html>
<html>
  <head>
    <title>CollegeNetguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= quotes_path %>">Anonymous Quotes</a>
      <form class="form-inline">
        <%= link_to "Add new quote", new_quote_path, class: 'btn btn-outline-success' %>
      </form>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
